
.usercp_nav_item {
      display:block;
}

.usercp_nav_item a {
color:#454545
}

.usercp_nav_item:before{
      font-size: 16px;
      font-family: 'FontAwesome';
      color: #cd1818;
      width: 28px;
      margin-right: 5px;
      text-align: center;
      display: inline-block;
}

.usercp_nav_composepm:before{
      content:"\f112";
}

.usercp_nav_pmfolder:before{
      content:"\f07c";
}

.usercp_nav_sub_pmfolder:before{
      content:"\f07b";
}

.usercp_nav_trash_pmfolder:before{
      content:"\f014";
}

.usercp_nav_pmtracking:before{
      content:"\f024";
}

.usercp_nav_pmfolders:before{
      content:"\f07b";
}

.usercp_nav_profile:before{
      content:"\f007";
}

.usercp_nav_email:before{
      content:"\f0e0";
}

.usercp_nav_password:before{
      content:"\f084";
}

.usercp_nav_username:before{
      content:"\f111";
}

.usercp_nav_editsig:before{
      content:"\f040";
}

.usercp_nav_avatar:before{
      content:"\f03e";
}

.usercp_nav_options:before{
      content:"\f085";
}

.usercp_nav_usergroups:before{
      content:"\f0c0";
}

.usercp_nav_editlists:before{
      content:"\f004";
}

.usercp_nav_attachments:before{
      content:"\f0c6";
}

.usercp_nav_drafts:before{
      content:"\f040";
}

.usercp_nav_subscriptions:before{
      content:"\f02e";
}

.usercp_nav_fsubscriptions:before{
      content:"\f03a";
}

.usercp_nav_notepad:before{
      content:"\f02d";
}

.usercp_nav_viewprofile:before{
      content:"\f007";
}

.usercp_nav_home:before{
      content:"\f015";
}

.usercp_nav_status:before{
      content:"\f118";
}

.usercp_nav_myalerts:before{
      content:"\f0f3";
}

.usercp_nav_myalerts_delete_all:before{
      content:"\f058";
}

.usercp_nav_myalerts_delete_read:before{
      content:"\f05c";
}

.usercp_nav_award:before{
      content:"\f091";
}

.usercp_notepad {
	width: 99%;
}

.usercp_container {
	margin: 5px;
	padding: 8px;
	border:1px solid #CCCCCC;
}

.pmspace {
	float: right;
	margin: -3px 5px;
}

.pmspace_container {
	background: #fff;
	border: 1px solid #ccc;
	width: 100px;
	display: inline-block;
}

.pmspace_used {
	display: inline-block;
	color: #fff;
	margin: -1px;
}

.pmspace_used.low {
	border: 1px solid #0c5a01;
	background: #167203;
}

.pmspace_used.medium {
	background: #ff862b;
	border: 1px solid #d7611e;
}

.pmspace_used.high {
	background: #e73c3c;
	border: 1px solid #c00;
}

.pmspace_unused {
	display: inline-block;
}

.pmspace_text {
	padding: 1px 5px;
	display: inline-block;
}


		