	<td class="tcat" align="center" width="80">
		<span class="smalltext"><strong><a href="{$sorturl}&amp;sortby=rating&amp;order=desc">{$lang->rating}</a> {$orderarrow['rating']}</strong></span>
		<script type="text/javascript" src="{$mybb->asset_url}/jscripts/rating.js?ver=1821"></script>
		<script type="text/javascript">
		<!--
			lang.stars = new Array();
			lang.stars[1] = "{$lang->one_star}";
			lang.stars[2] = "{$lang->two_stars}";
			lang.stars[3] = "{$lang->three_stars}";
			lang.stars[4] = "{$lang->four_stars}";
			lang.stars[5] = "{$lang->five_stars}";
			lang.ratings_update_error = "{$lang->ratings_update_error}";
		// -->
		</script>
	</td>