<script type="text/javascript" src="{$mybb->asset_url}/jscripts/inline_moderation.js?ver=1838"></script>
		<form id="inlinemoderation_options" action="moderation.php" method="post">
<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
<input type="hidden" name="fid" value="{$fid}" />
<input type="hidden" name="modtype" value="inlinethread" />
<span class="smalltext"><strong>{$lang->inline_thread_moderation}</strong></span>
<select name="action" id="inlinemoderation_options_selector">
	<option value="" style="display: none;" selected="selected">{$lang->select_a_tool}</option>
	<option value="delayedmoderation">{$lang->delayed_moderation}</option>
	{$standardthreadtools}
	{$customthreadtools}
</select>
<input type="submit" class="button" name="go" value="{$lang->inline_go} ({$inlinecount})" id="inline_go" />&nbsp;
<input type="button" onclick="inlineModeration.clearChecked();" value="{$lang->clear}" class="button" />
</form>
<script type="text/javascript">
<!--
	var go_text = "{$lang->inline_go}";
	var all_text = "{$threadcount}";
	var inlineType = "forum";
	var inlineId = {$fid};
	lang.select_tool = "{$lang->inline_no_tool_selected}";
	lang.selected_nil = "{$lang->inline_no_post_selected}";
// -->
</script>
<br />