<tr class="inline_row">
	<td align="center" class="{$bgcolor}{$thread_type_class}" width="2%"><span class="thread_status {$folder}" title="{$folder_label}">&nbsp;</span></td>
	<td align="center" class="{$bgcolor}{$thread_type_class}" width="2%">&nbsp;</td>
	<td class="{$bgcolor}{$thread_type_class}"><em>{$lang->deleted_thread}</em></td>
	<td align="center" class="{$bgcolor}{$thread_type_class}">-</td>
	<td align="center" class="{$bgcolor}{$thread_type_class}">-</td>
	{$rating}
	<td class="{$bgcolor}{$thread_type_class}" style="white-space: nowrap; text-align: right;">-</td>
	{$modbit}
</tr>