<tr>
	<td class="trow1" width="25%"><strong>{$login_username}</strong></td>
	<td class="trow1"><input name="quick_username" id="quick_login_username" type="text" value="" class="textbox initial_focus" /></td>
</tr>
<tr>
	<td class="trow2"><strong>{$lang->password}</strong></td>
	<td class="trow2">
		<input name="quick_password" id="quick_login_password" type="password" value="" class="textbox" /><br />
		<a href="{$mybb->settings['bburl']}/member.php?action=lostpw" class="lost_password">{$lang->lost_password}</a>
	</td>
</tr>
<tr>
	<td class="trow1">&nbsp;</td>
	<td class="trow1 remember_me">
		<input name="quick_remember" id="quick_login_remember" type="checkbox" value="yes" class="checkbox" checked="checked" />
		<label for="quick_login_remember">{$lang->remember_me}</label>
	</td>
</tr>
<tr>
	<td class="trow2" colspan="2">
		<div align="center"><input name="submit" type="submit" class="button" value="{$lang->login}" /></div>
	</td>
</tr>