<tr><td class="trow1" style="text-align:center;border-top:1px solid #101010"> <div class="smalltext">
<span style="inline-block; width:100%">
	<span style="display:inline-block;width:40%;"> {$lang->stats_newestuser}   </span>
	<span style="display:inline-block;width:40%;"> {$lang->stats_numusers}   </span>
</span><br>
<span style="inline-block; width:100%">
	<span style="display:inline-block;width:40%;"> {$lang->stats_posts_threads} </span>
	<span style="display:inline-block;width:40%;"> {$lang->stats_mostonline}  </span>
</span>
</div>
</td>
</tr>