<tr>
<td class="{$altbg}">{$user['profilelink']}</td>
<td class="{$altbg}" align="center">{$user['reason']}</td>
<td class="{$altbg}" align="center"><input type="radio" class="radio" name="request[{$user['uid']}]" value="accept" /></td>
<td class="{$altbg}" align="center"><input type="radio" class="radio" name="request[{$user['uid']}]" value="ignore" checked="checked" /></td>
<td class="{$altbg}" align="center"><input type="radio" class="radio" name="request[{$user['uid']}]" value="decline" /></td>
</tr>