<tr>
	<td class="{$alt_bg}" align="center">{$user['avatar']}</td>
	<td class="{$alt_bg}">{$user['profilelink']}<br />
<span class="smalltext">
	{$user['usertitle']}<br />
	{$usergroup['groupimage']}
	{$user['userstars']}
</span></td>
	<td class="{$alt_bg}" align="center">{$user['regdate']}</td>
	<td class="{$alt_bg}" align="center">{$user['lastvisit']}</td>
	<td class="{$alt_bg}" align="center">{$user['postnum']}</td>
	<td class="{$alt_bg}" align="center">{$user['threadnum']}</td>
	{$referral_bit}
</tr>