<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->manage_announcement}</title>
{$headerinclude}
</head>
<body>
	{$header}
	<table width="100%" border="0" align="center">
		<tr>
			{$modcp_nav}
			<td valign="top">
				{$announcements_global}
				<table border="0" cellspacing="{$theme['borderwidth']}" cellpadding="{$theme['tablespace']}" class="tborder">
					<tr>
						<td class="thead" colspan="3"><strong>{$lang->forum_announcements}</strong></td>
					</tr>
					<tr>
						<td class="tcat"><span class="smalltext"><strong>{$lang->announcement}</strong></span></td>
						<td class="tcat" width="200" colspan="2" align="center"><span class="smalltext"><strong>{$lang->controls}</strong></span></td>
					</tr>
					{$announcements_forum}
				</table>
			</td>
		</tr>
	</table>
	{$footer}
</body>
</html>