<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->modcp}</title>
{$headerinclude}
</head>
<body>
{$header}
<table width="100%" border="0" align="center">
<tr>
{$modcp_nav}
<td valign="top">
{$awaitingmoderation}
{$latestfivemodactions}
<table border="0" cellspacing="{$theme['borderwidth']}" cellpadding="{$theme['tablespace']}" class="tborder">
<tr>
<td class="thead" align="center" colspan="4"><strong>{$lang->bans_ending_soon}</strong></td>
</tr>
<tr>
<td class="tcat" width="25%"><span class="smalltext"><strong>{$lang->username}</strong></span></td>
<td class="tcat" align="center" width="30%"><span class="smalltext"><strong>{$lang->reason}</strong></span></td>
<td class="tcat" align="center" width="25%"><span class="smalltext"><strong>{$lang->ban_length}</strong></span></td>
<td class="tcat" align="center" width="20%"><span class="smalltext"><strong>{$lang->ban_bannedby}</strong></span></td>
</tr>
{$bannedusers}
</table>
<br />
<form action="modcp.php" method="post">
<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
<input type="hidden" name="action" value="do_modnotes" />
<table border="0" cellspacing="{$theme['borderwidth']}" cellpadding="{$theme['tablespace']}" class="tborder">
<tr>
<td class="thead" align="center" colspan="1"><strong>{$lang->moderator_notes}</strong></td>
</tr>
<tr>
<td class="tcat"><span class="smalltext"><strong>{$lang->notes_public_all}</strong></span></td>
</tr>
<tr>
<td class="trow1"><textarea name="modnotes" style="width: 99%; height: 200px;" rows="5" cols="45">{$modnotes}</textarea></td>
</tr>
</table>
<br />
<div align="center"><input type="submit" class="button" name="notessubmit" value="{$lang->save_notes}" /></div>
</form>
</td>
</tr>
</table>
{$footer}
</body>
</html>