<table border="0" cellspacing="{$theme['borderwidth']}" cellpadding="{$theme['tablespace']}" class="tborder">
<tr>
<td class="thead" align="center" colspan="3"><strong>{$lang->awaiting_moderation}</strong></td>
</tr>
<tr>
<td class="tcat" width="23%"><span class="smalltext"><strong>{$lang->type}</strong></span></td>
<td class="tcat" align="center" width="33%"><span class="smalltext"><strong>{$lang->number_awaiting}</strong></span></td>
<td class="tcat" align="center" width="44%"><span class="smalltext"><strong>{$lang->latest}</strong></span></td>
</tr>
{$awaitingthreads}
{$awaitingposts}
{$awaitingattachments}
</table>
<br />