			<tr>
				<td class="{$altbg}"><a href="{$thread['threadlink']}">{$thread['subject']}</a></td>
				<td class="{$altbg}" align="center">{$profile_link}</td>
				<td align="center" class="{$altbg}">{$threaddate}</td>
			</tr>
			<tr>
				<td class="{$altbg}" colspan="3">
					<div class="modqueue_message">
						<div class="float_right modqueue_controls">
							<label class="label_radio_ignore"><input type="radio" class="radio radio_ignore" name="threads[{$thread['tid']}]" value="ignore" checked="checked" /> {$lang->ignore}</label>
							<label class="label_radio_delete"><input type="radio" class="radio radio_delete" name="threads[{$thread['tid']}]" value="delete" /> {$lang->delete}</label>
							<label class="label_radio_approve"><input type="radio" class="radio radio_approve" name="threads[{$thread['tid']}]" value="approve" /> {$lang->approve}</label>
						</div>
						<div class="modqueue_meta">
							{$forum}
						</div>
						{$thread['postmessage']}
					</div>
				</td>
			</tr>