<table border="0" cellspacing="{$theme['borderwidth']}" cellpadding="{$theme['tablespace']}" class="tborder">
<tr>
<td class="thead" align="center" colspan="5"><strong>{$lang->latest_5_modactions}</strong></td>
</tr>
<tr>
<td class="tcat"><span class="smalltext"><strong>{$lang->username}</strong></span></td>
<td class="tcat" align="center"><span class="smalltext"><strong>{$lang->date}</strong></span></td>
<td class="tcat" align="center"><span class="smalltext"><strong>{$lang->action}</strong></span></td>
<td class="tcat" align="center"><span class="smalltext"><strong>{$lang->information}</strong></span></td>
<td class="tcat" align="center"><span class="smalltext"><strong>{$lang->ip}</strong></span></td>
</tr>
{$modlogresults}
</table>
<br />