	<tr>
		<td class="tcat tcat_menu tcat_collapse{$collapsedimg['modcpusers']}">
			<div class="expcolimage"><img src="{$theme['imgdir']}/collapse{$collapsedimg['modcpusers']}.png" id="modcpusers_img" class="expander" alt="{$expaltext}" title="{$expaltext}" /></div>
			<div><span class="smalltext"><strong>{$lang->mcp_nav_users}</strong></span></div>
		</td>
	</tr>
	<tbody style="{$collapsed['modcpusers_e']}" id="modcpusers_e">
		{$nav_editprofile}
		{$nav_banning}
		{$nav_warninglogs}
		{$nav_ipsearch}
	</tbody>