<option value="01" {$startmonthsel['01']}>{$lang->january}</option>
<option value="02" {$startmonthsel['02']}>{$lang->february}</option>
<option value="03" {$startmonthsel['03']}>{$lang->march}</option>
<option value="04" {$startmonthsel['04']}>{$lang->april}</option>
<option value="05" {$startmonthsel['05']}>{$lang->may}</option>
<option value="06" {$startmonthsel['06']}>{$lang->june}</option>
<option value="07" {$startmonthsel['07']}>{$lang->july}</option>
<option value="08" {$startmonthsel['08']}>{$lang->august}</option>
<option value="09" {$startmonthsel['09']}>{$lang->september}</option>
<option value="10" {$startmonthsel['10']}>{$lang->october}</option>
<option value="11" {$startmonthsel['11']}>{$lang->november}</option>
<option value="12" {$startmonthsel['12']}>{$lang->december}</option>