<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->merge_posts}</title>
{$headerinclude}
</head>
<body>
{$header}
<form action="moderation.php" method="post">
<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
<table border="0" cellspacing="{$theme['borderwidth']}" cellpadding="{$theme['tablespace']}" class="tborder">
<tr>
<td class="thead" colspan="2"><strong>{$lang->merge_posts}</strong></td>
</tr>
{$loginbox}
<tr>
<td class="trow2"><strong>{$lang->post_separator}</strong></td>
<td class="trow2"><label><input type="radio" class="radio" name="sep" value="hr" checked="checked" />&nbsp;{$lang->horizontal_rule}</label><br /><label><input type="radio" class="radio" name="sep" value="new_line" />&nbsp;{$lang->new_line}</label></td>
</tr>
{$postlist}
</table>
<br />
<div align="center"><input type="submit" class="button" name="submit" value="{$lang->merge_posts}" /></div>
<input type="hidden" name="action" value="do_multimergeposts" />
<input type="hidden" name="tid" value="{$tid}" />
<input type="hidden" name="url" value="{$return_url}" />
</form>
{$footer}
</body>
</html>