<html>
<head>
<title>{$thread['threadprefix']} {$thread['subject']} - {$lang->printable_version}</title>
<meta http-equiv="Content-Type" content="text/html; charset={$charset}" />
<style type="text/css">
body { font-family: Verdana, Arial, sans-serif; font-size: 13px; }
.largetext { font-family: Verdana, Arial, sans-serif; font-size: medium; font-weight: bold; }
img { max-width: 100%; height: auto; }
</style>
</head>
<body>
<table width="98%" align="center">
<tr>
<td valign="top"><a href="index.php"><img src="{$theme['logo']}" alt="{$mybb->settings['bbname']}" title="{$mybb->settings['bbname']}" border="0" /></a></td>
</tr>
<tr>
<td>
<span class="largetext">{$thread['displaystyle']} <a href="{$thread['threadlink']}">{$thread['subject']}</a> - {$lang->printable_version}</span><br />
<br />
+- {$mybb->settings['bbname']} (<em>{$mybb->settings['bburl']}</em>)<br />
{$breadcrumb}
+{$tdepth} {$lang->thread} {$thread['displaystyle']} {$thread['subject']} (<em>/{$thread['threadlink']}</em>)<br />
<br />
{$multipage}</td>
</tr>
<tr>
<td><br /><hr size="1" />{$postrows}</td>
</tr>
</table>
</body>
</html>