<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->pm_folders}</title>
{$headerinclude}
</head>
<body>
{$header}
<form action="private.php" method="post">
<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
<table width="100%" border="0" align="center">
<tr>
{$usercpnav}
<td valign="top">
<table border="0" cellspacing="{$theme['borderwidth']}" cellpadding="{$theme['tablespace']}" class="tborder">
<tr>
<td class="thead"><strong>{$lang->existing_folders}</strong></td>
</tr>
<tr>
<td class="trow1"><span class="smalltext">{$lang->edit_folder_note}</span></td>
</tr>
{$folderlist}
</table>
<br />
<table border="0" cellspacing="{$theme['borderwidth']}" cellpadding="{$theme['tablespace']}" class="tborder">
<tr>
<td class="thead"><strong>{$lang->new_folders}</strong></td>
</tr>
<tr>
<td class="trow1"><span class="smalltext">{$lang->add_folders_note}</span></td>
</tr>
{$newfolders}
</table>
<br />
<div align="center">
<input type="hidden" name="action" value="do_folders" />
<input type="submit" class="button" name="submit" value="{$lang->update_folders}" />
</div>
</td>
</tr>
</table>
</form>
{$footer}
</body>
</html>