<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->pm_tracking}</title>
{$headerinclude}
</head>
<body>
{$header}
<table width="100%" border="0" align="center">
<tr>
{$usercpnav}
<td valign="top">
{$read_multipage}
<form action="private.php" method="post">
<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
<input type="hidden" name="action" value="do_tracking" />
<table border="0" cellspacing="{$theme['borderwidth']}" cellpadding="{$theme['tablespace']}" class="tborder">
<tr>
<td class="thead" align="center" colspan="5"><strong>{$lang->read_messages}</strong></td>
</tr>
<tr>
<td class="tcat" colspan="2"><span class="smalltext"><strong>{$lang->message_title}</strong></span></td>
<td class="tcat" align="center" width="30%"><span class="smalltext"><strong>{$lang->sentto}</strong></span></td>
<td class="tcat" align="right" width="20%"><span class="smalltext"><strong>{$lang->dateread}</strong></span></td>
<td class="tcat" align="center" width="1%"><span class="smalltext"><input type="checkbox" class="checkbox checkall" name="allbox" /></span></td>
</tr>
{$readmessages}
{$stoptrackingread}
</table>
</form>
<br />
{$unread_multipage}
<form action="private.php" method="post">
<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
<input type="hidden" name="action" value="do_tracking" />
<table border="0" cellspacing="{$theme['borderwidth']}" cellpadding="{$theme['tablespace']}" class="tborder">
<tr>
<td class="thead" align="center" colspan="5"><strong>{$lang->unread_messages}</strong></td>
</tr>
<tr>
<td class="tcat" colspan="2"><span class="smalltext"><strong>{$lang->message_title}</strong></span></td>
<td class="tcat" align="center" style="white-space: nowrap" width="30%"><span class="smalltext"><strong>{$lang->sentto}</strong></span></td>
<td class="tcat" align="right" style="white-space: nowrap" width="20%"><span class="smalltext"><strong>{$lang->datesent}</strong></span></td>
<td class="tcat" align="center" width="1%" style="white-space: nowrap"><span class="smalltext"><input type="checkbox" class="checkbox checkall" name="allbox" /></span></td>
</tr>
{$unreadmessages}
{$stoptrackingunread}
</table>
</form>
</td></tr></table>
{$footer}
</body>
</html>