<br />
<form action="private.php" method="post" name="input">
	<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
	<input type="hidden" name="to" value="{$to}" />
	<input type="hidden" name="bcc" value="{$bcc_form_val}" />
	<input type="hidden" name="subject" value="Re: {$subject}" />
	<input type="hidden" name="action" value="do_send" />
	<input type="hidden" name="pmid" value="{$pmid}" />
	<input type="hidden" name="do" value="reply" />
	<table border="0" cellspacing="{$theme['borderwidth']}" cellpadding="{$theme['tablespace']}" class="tborder">
		<thead>
			<tr>
				<td class="thead{$collapsedthead['quickreply']}" colspan="2">
					<div class="expcolimage"><img src="{$theme['imgdir']}/collapse{$collapsedimg['quickreply']}.png" id="quickreply_img" class="expander" alt="{$expaltext}" title="{$expaltext}" /></div>
					<div><strong>{$lang->quick_reply}</strong></div>
				</td>
			</tr>
		</thead>
		<tbody style="{$collapsed['quickreply_e']}" id="quickreply_e">
			<tr>
              <td class="{$trow}" valign="top" width="22%">
					<strong>{$lang->message}</strong><br />
					<span class="smalltext">{$lang->message_note}<br /><br />
					<label><input type="checkbox" class="checkbox" name="options[signature]" value="1"{$optionschecked['signature']} />&nbsp;<strong>{$lang->quickreply_signature}</strong></label><br />
					<label><input type="checkbox" class="checkbox" name="options[disablesmilies]" value="1"{$optionschecked['disablesmilies']} />&nbsp;<strong>{$lang->quickreply_disable_smilies}</strong></label><br />
					<label><input type="checkbox" class="checkbox" name="options[savecopy]" value="1"{$optionschecked['savecopy']} />&nbsp;<strong>{$lang->quickreply_save_copy}</strong></label>{$private_send_tracking}</span>
				</td>
				<td class="{$trow}">
					<div style="width: 95%">
						<textarea style="width: 100%; padding: 4px; margin: 0;" rows="8" cols="80" name="message" id="message" tabindex="1">{$quoted_message}</textarea>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center" class="tfoot"><input type="submit" class="button" value="{$lang->send_message}" tabindex="2" accesskey="s" /> <input type="submit" class="button" name="preview" value="{$lang->preview}" tabindex="3" /></td>
			</tr>
		</tbody>
	</table>
</form>