<tr>
<td width="40%" class="trow2"><strong>{$lang->your_name}</strong><br /><span class="smalltext">{$lang->name_note}</span></td>
<td width="60%" class="trow2"><input type="text" class="textbox" size="50" name="fromname" value="{$fromname}" /></td>
</tr>
<tr>
<td width="40%" class="trow1"><strong>{$lang->your_email}</strong><br /><span class="smalltext">{$lang->email_note}</span></td>
<td width="60%" class="trow1"><input type="text" class="textbox" size="50" name="fromemail" value="{$fromemail}" /></td>
</tr>