<script type="text/javascript" src="{$mybb->asset_url}/jscripts/inline_moderation.js?ver=1838"></script>
<form action="moderation.php" method="post" style="margin-top: 0; margin-bottom: 0;" id="inlinemoderation_options">
<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
<input type="hidden" name="tid" value="{$tid}" />
<input type="hidden" name="modtype" value="inlinepost" />
<span class="smalltext"><strong>{$lang->inline_post_moderation}</strong></span>
<select name="action" id="inlinemoderation_options_selector">
	<option value="" style="display: none;" selected="selected">{$lang->select_a_tool}</option>
{$standardposttools}
{$customposttools}
</select>
<input type="submit" class="button" name="go" value="{$lang->go} ({$inlinecount})" id="inline_go" />&nbsp;
<input type="button" class="button" onclick="inlineModeration.clearChecked();" value="{$lang->clear}" />
</form>
<script type="text/javascript">
<!--
	var go_text = "{$lang->inline_go}";
	var all_text = "{$threadcount}";
	var inlineType = "thread";
	var inlineId = {$tid};
	lang.select_tool = "{$lang->inline_no_tool_selected}";
	lang.selected_nil = "{$lang->inline_no_post_selected}";
// -->
</script><br />