<fieldset class="trow2">
<legend><strong>{$lang->custom_usertitle}</strong></legend>
<table cellspacing="0" cellpadding="{$theme['tablespace']}">
<tr>
<td><span class="smalltext">{$lang->custom_usertitle_note}</span></td>
</tr>
<tr>
<td><span class="smalltext">{$lang->default_usertitle}</span></td>
</tr>
<tr>
<td><span class="smalltext"><strong>{$defaulttitle}</strong></span></td>
</tr>
{$currentcustom}
<tr>
<td><span class="smalltext">{$lang->new_custom_usertitle}</span></td>
</tr>
<tr>
<td><input type="text" class="textbox" name="usertitle" size="25" maxlength="{$mybb->settings['customtitlemaxlength']}" value="{$newtitle}" /></td>
</tr>
{$reverttitle}
</table>
</fieldset>