<tbody>
<tr>
	<td class="tcat tcat_menu tcat_collapse{$collapsedimg['usercppms']}">
		<div class="expcolimage"><img src="{$theme['imgdir']}/collapse{$collapsedimg['usercppms']}.png" id="usercppms_img" class="expander" alt="{$expaltext}" title="{$expaltext}" /></div>
		<div><span class="smalltext"><strong>{$lang->ucp_nav_messenger}</strong></span></div>
	</td>
</tr>
</tbody>
<tbody style="{$collapsed['usercppms_e']}" id="usercppms_e">
	{$ucp_nav_compose}
	<tr>
		<td class="trow1 smalltext">
			{$folderlinks}
		</td>
	</tr>
	{$ucp_nav_tracking}
	<tr><td class="trow1 smalltext"><a href="private.php?action=folders" class="usercp_nav_item usercp_nav_pmfolders">{$lang->ucp_nav_edit_folders}</a></td></tr>
</tbody>