<table border="0" cellspacing="{$theme['borderwidth']}" cellpadding="{$theme['tablespace']}" class="tborder">
<tr>
<td class="thead" colspan="3"><strong>{$lang->usergroups_leader}</strong></td>
</tr>
<tr>
<td class="tcat" width="36%"><strong><span class="smalltext">{$lang->usergroups_usergroup}</span></strong></td>
<td class="tcat" align="center" width="32%"><strong><span class="smalltext">{$lang->usergroup_members}</span></strong></td>
<td class="tcat" align="center" width="32%"><strong><span class="smalltext">{$lang->join_requests}</span></strong></td>
</tr>
{$groupsledlist}
</table>
<br />