<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->drafts}</title>
{$headerinclude}
</head>
<body>
{$header}
<form action="usercp.php" method="post">
<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
<table width="100%" border="0" align="center">
<tr>
{$usercpnav}
<td valign="top">
<table border="0" cellspacing="{$theme['borderwidth']}" cellpadding="{$theme['tablespace']}" class="tborder">
<tr>
<td class="thead" colspan="4"><strong>{$lang->drafts_count}</strong></td>
</tr>
<tr>
<td width="66%" class="tcat"><span class="smalltext"><strong>{$lang->draft_title}</strong></span></td>
<td class="tcat" align="center" width="20%"><span class="smalltext"><strong>{$lang->draft_saved}</strong></span></td>
<td class="tcat" align="center" width="20%"><span class="smalltext"><strong>{$lang->draft_options}</strong></span></td>
<td class="tcat" align="center" width="1"><input type="checkbox" name="allbox" class="checkbox checkall" /></td>
</tr>
{$drafts}
</table>
<br />
<div align="center">
<input type="hidden" name="action" value="do_drafts" />
<input type="submit" class="button" name="draftman" value="{$lang->delete_drafts}" {$disable_delete_drafts} />
</div>
</td>
</tr>
</table>
</form>
{$footer}
</body>
</html>