<tr>
<td class="trow1" align="center" valign="middle" width="1"><span class="forum_status forum_{$lightbulb['folder']}" title="{$lightbulb['altonoff']}"></span></td>
<td class="trow1" valign="middle">
<strong><a href="{$forum_url}">{$forum['name']}</a></strong><br /><span class="smalltext"><a href="usercp.php?action=removesubscription&amp;type=forum&amp;fid={$forum['fid']}&amp;my_post_key={$mybb->post_code}">{$lang->unsubscribe}</a> | <a href="newthread.php?fid={$forum['fid']}">{$lang->new_thread}</a></span></td>
<td class="trow2" valign="middle" style="white-space: nowrap; text-align: center;">{$posts}</td>
<td class="trow1" valign="middle" style="white-space: nowrap; text-align: center;">{$threads}</td>
<td class="trow2" valign="middle" style="white-space: nowrap">{$lastpost}</td>
</tr>