<br />
<table border="0" cellspacing="{$theme['borderwidth']}" cellpadding="{$theme['tablespace']}" class="tborder">
<tr>
<td class="thead" colspan="6"><div class="float_right"><a href="usercp.php?action=subscriptions"><strong>{$lang->view_all_subscriptions}</strong></a></div><strong>{$lang->new_thread_subscriptions}</strong></td>
</tr>
<tr>
<td class="tcat" colspan="3"><span class="smalltext"><strong>{$lang->thread} / {$lang->author}</strong></span></td>
<td class="tcat" align="center" width="75"><span class="smalltext"><strong>{$lang->replies}</strong></span></td>
<td class="tcat" align="center" width="75"><span class="smalltext"><strong>{$lang->views}</strong></span></td>
<td class="tcat" align="center" width="200"><span class="smalltext"><strong>{$lang->lastpost}</strong></span></td>
</tr>
{$latest_subscribed_threads}
</table>