	<br />
	<table border="0" cellspacing="{$theme['borderwidth']}" cellpadding="{$theme['tablespace']}" class="tborder">
		<thead>
			<tr>
				<td class="thead" colspan="4">
					<div class="float_right">{$lang->current_warning_level}</div>
					<div><strong>{$lang->latest_warnings}</strong></div>
				</td>
			</tr>
			<tr>
				<td class="tcat"><span class="smalltext"><strong>{$lang->warning}</strong></span></td>
				<td class="tcat" width="20%" align="center"><span class="smalltext"><strong>{$lang->date_issued}</strong></span></td>
				<td class="tcat" width="20%" align="center"><span class="smalltext"><strong>{$lang->expiry_date}</strong></span></td>
				<td class="tcat" width="20%" align="center"><span class="smalltext"><strong>{$lang->issued_by}</strong></span></td>
			</tr>
		</thead>
		<tbody>
		{$warnings}
		</tbody>
	</table>