<br />
<table border="0" cellspacing="{$theme['borderwidth']}" cellpadding="{$theme['tablespace']}" class="tborder clear">
	<tr>
		<td class="thead" colspan="2"><strong>{$lang->warning_is_revoked}</strong></td>
	</tr>
	<tr>
		<td class="tcat" style="width: 50%;"><span class="smalltext"><strong>{$lang->revoked_by}</strong></span></td>
		<td class="tcat"><span class="smalltext"><strong>{$lang->date_revoked}</strong></span></td>
	</tr>
	<tr>
		<td class="trow1">{$revoked_by}</td>
		<td class="trow1">{$date_revoked}</td>
	</tr>
	<tr>
		<td class="tcat" colspan="2"><span class="smalltext"><strong>{$lang->details_reason}</strong></span></td>
	</tr>
	<tr>
		<td class="trow2" colspan="2">{$revoke_reason}</td>
	</tr>
</table>