<html>
<head>
	<title>{$mybb->settings['bbname']} - {$lang->warning_log}</title>
	{$headerinclude}
</head>
<body>
	{$header}

	<table border="0" cellspacing="{$theme['borderwidth']}" cellpadding="{$theme['tablespace']}" class="tborder">
		<tr>
			<td class="thead" colspan="2">
				<div class="float_right">{$status}</div>
				<div><strong>{$lang->warning_details}</strong></div>
			</td>
		</tr>
		{$warning_info}
		<tr>
			<td class="tcat" width="50%"><span class="smalltext"><strong>{$lang->warning}</strong></span></td>
			<td class="tcat" width="50%"><span class="smalltext"><strong>{$lang->date_issued}</strong></span></td>
		</tr>
		<tr>
			<td class="trow2">{$warning_type} {$points}</td>
			<td class="trow2">{$date_issued}</td>
		</tr>
		<tr>
			<td class="tcat" width="50%"><span class="smalltext"><strong>{$lang->issued_by}</strong></span></td>
			<td class="tcat" width="50%"><span class="smalltext"><strong>{$lang->expiry_date}</strong></span></td>
		</tr>
		<tr>
			<td class="trow1">{$issuedby}</td>
			<td class="trow1">{$expires} {$revoked_date}</td>
		</tr>
		<tr>
			<td class="tcat" colspan="2"><span class="smalltext"><strong>{$lang->details_warning_note}</strong></span></td>
		</tr>
		<tr>
			<td class="trow2" colspan="2">{$notes}</td>
		</tr>
	</table>

	{$revoke}

{$footer}
</body>
</html>