<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->warn_user}</title>
{$headerinclude}
</head>
<body>
{$header}
{$existing_warnings}
{$warn_errors}
<form action="warnings.php" method="post" name="input">
	<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
	<input type="hidden" name="action" value="do_warn" />
	<input type="hidden" name="uid" value="{$user['uid']}" />

	<table border="0" cellspacing="{$theme['borderwidth']}" cellpadding="{$theme['tablespace']}" class="tborder clear">
		<tr>
			<td class="thead" colspan="2"><strong>{$lang->warn_user}</strong></td>
		</tr>
		<tr>
			<td class="tcat" colspan="2"><span class="smalltext"><strong>{$lang->warn_user_desc}</strong></span></td>
		</tr>
		<tr>
			<td class="trow1" style="width: 20%;"><strong>{$lang->username}</strong></td>
			<td class="trow1">{$user_link}</td>
		</tr>
{$post}
		<tr>
			<td class="trow1" style="width: 20%; vertical-align: top;"><strong>{$lang->warning_note}</strong></td>
			<td class="trow1"><textarea name="notes" cols="60" rows="4">{$notes}</textarea></td>
		</tr>
		<tr>
			<td class="trow2" style="width: 20%; vertical-align: top;"><strong>{$lang->warning_type}</strong></td>
			<td class="trow2">
				<script type="text/javascript">
				// <!--
					function checkType(id)
					{
						var checked = '';

                      $('.types_check').each(function(e, val)
						{
							if($(this).prop('checked') == true)
							{
								checked = $(this).val();
							}
						});
						$('.types').each(function(e)
						{
							$(this).hide();
						});
						if($('#type_'+checked))
						{
							$('#type_'+checked).show();
						}
					}
				// -->
				</script>
				<dl style="margin-top: 0; margin-bottom: 0; width: 100%;">
					{$types}
					{$custom_warning}
				</dl>
				<script type="text/javascript">
				// <!--
					checkType();
				// -->
				</script>
			</td>
		</tr>
		{$pm_notify}
	</table>
	<br />
	<div style="text-align: center;"><input type="submit" class="button" value="{$lang->warn_user}" /></div>
</form>
{$footer}
</body>
</html>